<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
          <div class="nav">
              <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/books">
                  <div class="sb-nav-link-icon"><i class="fa-sharp fa-regular fa-book"></i></div>
                  Books
              </a>
              <a class="nav-link" href="/categories">
                  <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                  Categories
              </a>
              
              <a class="nav-link" href="/Authors">
                  <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                  Authors
              </a>

               <a class="nav-link" href="/messages">
                  <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                  Messages
              </a>
          </div>
      </div>
  </nav>
</div>