<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="sách nói, podcast, tóm tắt sách, audio" />
  <meta name="description" content="là ứng dụng sách nói và podcast đầy tiện lợi với các tính năng đa dạng.
  Từ những cuốn sách nói mới nhất và những podcast phát hành liên tục từ các nhà xuất bản hàng đầu thế giới, bạn có thể tận hưởng các tựa sách hoàn toàn miễn phí. 
  Bạn có thể tìm thấy sự lựa chọn rộng rãi của bất kỳ thể loại mà bạn muốn đọc và nghe, gồm tất cả những nội dung để giúp bạn phát triển phong cách sống. 
  Ứng dụng cũng cung cấp các bộ lọc tùy chỉnh, giúp bạn để tìm thấy những đặc mục yêu thích của mình. Với MyEBoo, bạn có thể đọc hoặc nghe lên tới 3000+ cuốn sách nói, 
  11000+ podcast và nội dung bài báo khổng lồ.">
  <meta name="author" content="tien.tt" />

  <title>MyEBoo: Thư viện tri thức</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <link rel="icon" type="image/png" href="/public/css/landing/images/LogoEbookTrong.png"/>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/public/css/landing/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/public/css/landing/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/public/css/landing/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <span>
              MyEBoo
            </span>
          </a>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="detail-box">
              

              <h1>
                <img src="/public/css/landing//images/LogoEbookTrong.png" height="100px"  alt="">
                MyEBoo
              </h1>
              <h2>
                Thư viện Tri Thức
              </h2>
              <div>
                <div>
                  <img alt 
                  src="/public/css/landing//images/app-store.webp" 
                  width="150" height="45" decoding="async" data-nimg="1" class="mr-2 cursor-pointer" loading="lazy" style="color:transparent">
                  <img alt 
                  src="/public/css/landing//images/google-play.webp" 
                  width="150" height="45" decoding="async" data-nimg="1" class="mr-2 cursor-pointer" loading="lazy" style="color:transparent">
                </div>
                
                
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="img-box">
                    <img src="/public/css/landing//images/anh5.png" height="100%" alt="" />
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img-box">
                    <img src="/public/css/landing/images/anh6.png" height="100%"  alt="" />
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="img-box">
                    <img src="/public/css/landing/images/anh7.png" height="100%"  alt="" />
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end slider section -->
  </div>

  <!-- feature section -->
  <section class="feature_section layout_padding2 layout_margin">
    <div class="container">
      <div class="heading_container">
        <h2>
          Giới Thiệu
        </h2>
      </div>
    </div>
    <div class="container">
      <div class="p-md-5">
        <p>
          <span style="color: #fe7225;">MyEBoo</span> là ứng dụng sách nói và podcast đầy tiện lợi với các tính năng đa dạng.
           Từ những cuốn sách nói mới nhất và những podcast phát hành liên tục từ các nhà xuất bản hàng đầu thế giới, bạn có thể tận hưởng các tựa sách hoàn toàn miễn phí. 
           Bạn có thể tìm thấy sự lựa chọn rộng rãi của bất kỳ thể loại mà bạn muốn đọc và nghe, gồm tất cả những nội dung để giúp bạn phát triển phong cách sống. 
           Ứng dụng cũng cung cấp các bộ lọc tùy chỉnh, giúp bạn để tìm thấy những đặc mục yêu thích của mình. Với MyEBoo, bạn có thể đọc hoặc nghe lên tới 3000+ cuốn sách nói, 
           11000+ podcast và nội dung bài báo khổng lồ.
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a href="">
        Download
      </a>
    </div>
  </section>

  <!-- end feature section -->

  <!-- download section -->

  <section class="download_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Tại sao phải là <span style="color: #fe7225;">MyEBoo</span> 
        </h2>
      </div>
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="head-box">
                <div class="img-box">
                  <img src="/public/css/landing/images/cloud-download.png" alt="" />
                </div>
                <h6>
                  Giao Diện
                </h6>
              </div>
              <div class="detail-box">
                <p>
                  Giao diện đẹp mắt, dễ sử dụng, tích hợp nhiều tiện ích, phù hợp với tất cả các thiết bị di động.
                </p>
              </div>
            </div>
            <div class="box">
              <div class="head-box">
                <div class="img-box">
                  <img src="/public/css/landing/images/trophy_.png" alt="" />
                </div>
                <h6>
                  Top 1 Việt Nam
                </h6>
              </div>
              <div class="detail-box">
                <p>
                  Là đơn vị hàng đầu trong lĩnh vực sách nói, hơn 1 triệu lượt tải xuống, có nhiều giải thưởng trong lĩnh vực sách. 
                </p>
              </div>
            </div>
           
          </div>
          <div class="col-md-4">
            <div class="main-img-box">
              <img src="/public/css/landing//images/anh8.png" alt="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="head-box">
                <div class="img-box">
                  <img src="/public/css/landing/images/playstore.png" alt="" />
                </div>
                <h6>
                  Sản Phẩm
                </h6>
              </div>
              <div class="detail-box">
                <p>
                  Với hơn 40.000 đầu sách, nhiều thể loại sách khác nhau, sách tinh gọn trong 10 phút, những câu chuyện thú vị, podcast... 
                </p>
              </div>
            </div>
            <div class="box">
              <div class="head-box">
                <div class="img-box">
                  <img src="/public/css/landing/images/heart.png" alt="" />
                </div>
                <h6>
                  Cộng Đồng
                </h6>
              </div>
              <div class="detail-box">
                <p>
                  Với hơn 1 triệu lượt tải xuống, được hàng triệu người thích, <span style="color: #fe7225;">MyEBoo</span> xứng danh thư viện audio top 1 Việt Nam
                </p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end download section -->

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="heading_container d-flex justify-content-lg-start">
        <h2>
          Về Chúng Tôi
        </h2>
      </div>
      <div class="layout_padding2-top">
        <div class="row">
          <div class="col-md-5">
            <div class="detail-box b-1">
              <p>
                Với Hơn 40.000 đầu sách, 1000 audio tóm tắt sách, podcast... hứa hẹn mang đến thính giả những giây phút tuyệt vời.
              </p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="detail-box b-2">
              <p>
                <span style="color: #fe7225;">MyEBoo</span> là thư viện sách nói, audio, podcast hàng đầu Việt Nam, sử hữu bản quyền đầy đủ với hàng loạt cuốn sách bán chạy...
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="d-flex ">
        <h2>
          Liên Hệ
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">

          <form action="/messages/form" method="post">
            <div class="contact_form-container">
              <div>
                <div>
                  <input type="text" name="name" placeholder="Tên">
                </div>
                <div>
                  <input type="text" name="phone_number" placeholder="Số Điện Thoại">
                </div>
                <div>
                  <input type="email" name="email" placeholder="Email">
                </div>
                <div class="mt-5">
                  <input type="text" name="message" placeholder="Lời nhắn">
                </div>
                <div class="mt-5">
                  <button type="submit">
                    Gửi
                  </button>
                </div>
              </div>

            </div>

          </form>
        </div>
        <div class="col-md-6">
          <div class="contact_img-box">
            <img src="/public/css/landing//images/anh9.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->
  <!-- info section -->
  <section class="info_section layout_padding-top">
    <div class="info_logo-box">
  
        <img src="/public/css/landing//images/LogoEbookTrong.png" height="50px"  alt="">
        <h2 style="color: #fe7225"> 
          MyEBoo
        </h2>
      
     
    </div>
    <div class="container">
      <div class="social_container">
        <div class="text-center" style="line-height: 5px">
          <p>myeboo@gmail.com</p><br>
          <p>090 191 5121 - 0325 187 911</p>
        </div>
        <div class="social-box">
          <a href="">
            <img src="/public/css/landing/images/fb.png" alt="">
          </a>

          <a href="">
            <img src="/public/css/landing/images/twitter.png" alt="">
          </a>
          <a href="">
            <img src="/public/css/landing/images/linkedin.png" alt="">
          </a>
          <a href="">
            <img src="/public/css/landing/images/instagram.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->
  <!-- footer section -->
 
  <!-- footer section -->

  <script type="text/javascript" src="/public/css/landing/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/public/css/landing/js/bootstrap.js"></script>

  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</body>

</html>
