
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Templates</li>
        </ol>
        <button>ADD</button>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List of templates
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Thumbnail</th>
                            <th>Name</th>
                            <th>Slug</th>
                            <th>Preview</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {{#each items}}
                        <tr>
                            <td><img height="100px" width="auto" src="{{thumbnail_url}}"></td>
                            <td>{{name}}</td>
                            <td>{{slug}}</td>
                            <td><a href="https://webneeder.com/{{demo_url}}" target="_blank" style="text-decoration: none;">demo</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>