<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="sách nói, podcast, tóm tắt sách, audio" />
  <meta name="description" content="là ứng dụng sách nói và podcast đầy tiện lợi với các tính năng đa dạng.
  Từ những cuốn sách nói mới nhất và những podcast phát hành liên tục từ các nhà xuất bản hàng đầu thế giới, bạn có thể tận hưởng các tựa sách hoàn toàn miễn phí. 
  Bạn có thể tìm thấy sự lựa chọn rộng rãi của bất kỳ thể loại mà bạn muốn đọc và nghe, gồm tất cả những nội dung để giúp bạn phát triển phong cách sống. 
  Ứng dụng cũng cung cấp các bộ lọc tùy chỉnh, giúp bạn để tìm thấy những đặc mục yêu thích của mình. Với EBoo, bạn có thể đọc hoặc nghe lên tới 3000+ cuốn sách nói, 
  11000+ podcast và nội dung bài báo khổng lồ.">
  <meta name="author" content="tien.tt" />

  <title>EBoo: Thư viện tri thức</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <link rel="icon" type="image/png" href="/public/css/landing/images/LogoEbookTrong.png"/>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/public/css/landing/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/public/css/landing/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/public/css/landing/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="index.html">
            <span>
              EBoo
            </span>
          </a>
          <div class="navbar-collapse" id="">
            <div class="custom_menu-btn">
              <button style="background-color:rgb(137, 137, 137); height: 30px; width: 30px" class="btn_bar" onclick="openNav()">
                <span class="s-1"> </span>
                <span class="s-2"> </span>
                <span class="s-3"> </span>
              </button>
            </div>
            <div id="myNav" class="overlay">
              <div class="overlay-content">
                <a href="/">Landing</a>
                <a href="privacy-policy">Privacy policy</a>
                <a href="terms-of-services">Terms of services</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container sm pt-5">
        <p>Chính Sách Bảo Mật dưới đây mô tả cách thức chúng tôi (đơn vị chủ quản của ứng dụng EBoo) thu thập thông tin trong quá trình bạn sử dụng các dịch vụ của chúng tôi.</p>
        <div>
            <h2>I – MỤC ĐÍCH VÀ CÁCH THỨC</h2>
            <p>Khi sử dụng dịch vụ, ứng dụng SunoBook sẽ yêu cầu người dùng cung cấp các
               thông tin cá nhân (sau đây gọi là “thông tin”) như sau: Email hoặc Facebook 
               hoặc Apple ID (Tùy vào lựa chọn của người dùng). Đây là các thông tin bạn cung cấp
                để chúng tôi tạo lập tài khoản để quản lý tài khoản, cung cấp đúng, đầy đủ dịch vụ 
                đã mua và cá nhân hóa các trải nghiệm của bạn trong khuôn khổ nền tảng của chúng tôi.
                 Ngoài ra trong quá trình sử dụng, bạn có thể lựa chon cung cấp hoặc không cung cấp thêm thông tin như: 
                 Số điện thoại,...</p><p></p><p>Các thông tin này do bạn cung cấp và hoàn toàn có khả năng 
                  tự thay đổi (trừ trường hợp các thông tin này được liên kết với các giao dịch thanh toán),
                   chúng tôi không có bất kỳ một phương tiện hay cách thức nào để xác nhận tính chính xác
                    của thông tin hoặc liên kết các thông tin này vào việc định danh nhân thân của bạn ở đời thực. </p>
                    <p>Bạn sẽ chịu trách nhiệm bảo mật các thông tin dùng để sử dụng dịch vụ. 
                      Chúng tôi sẽ hỗ trợ nếu nhận được thông báo của bạn về việc bị lạm dụng
                       hoặc chiếm đoạt nếu khả năng cho phép. </p></div>
                       <div><h2>II – PHẠM VI SỬ DỤNG</h2><p>Chúng tôi sử dụng thông tin được bạn
                         lựa chọn cung cấp cho các mục đích sau: </p>
                         <p></p><p>• Cung cấp đúng và đầy đủ dịch vụ theo gói dịch vụ mà bạn lựa chọn, </p>
                         <p></p><p>• Xem xét, phân tích trải nghiệm để có thể cải tiến dịch vụ theo thời gian, </p>
                         <p></p><p>• Ngăn ngừa các hành vi phá hoại hoặc chiếm đoạt dịch vụ, </p>
                         <p></p><p>• Liên hệ với khách hàng trong các trường hợp cần thiết, </p>
                         <p></p><p>• Giới thiệu dịch vụ mới hoặc các cải tiến quan trọng của nền tảng. </p></div>
                         <div><h2>III – LƯU TRỮ THÔNG TIN</h2><p>Chúng tôi lưu trữ các thông tin được bạn cung cấp trong suốt thời gian 
                          sử dụng dịch vụ cho đến khi có yêu cầu hoặc hành động lựa chọn hủy bỏ từ bạn.
                           Các thông tin này sẽ được lưu trữ bảo mật tại máy chủ của chúng tôi. </p></div>
                           <div><h2>IV – TRUY CẬP VÀ CHỈNH SỬA THÔNG TIN CÁ NHÂN</h2><p>Bạn có quyền kiểm tra, cập nhật, 
                            điều chỉnh hoặc hủy bỏ Thông Tin Cá Nhân của mình bằng cách đăng nhập
                             vào tài khoản chỉnh sửa Thông Tin Cá Nhân hoặc yêu cầu chúng tôi thực 
                             hiện việc này bằng cách liên hệ với chúng tôi theo thông tin liên hệ ở cuối chính sách. </p>
                             <p></p><p>Khi có nghi vấn về việc bị tiết lộ, lạm dụng hoặc chiếm đoạt 
                              thông tin phát sinh trong quá trình sử dụng dịch vụ, bạn có quyền liên hệ 
                              để khiếu nại với chúng tôi. Chúng tôi sẽ ngay lập tức tiến hành kiểm tra hệ thống 
                              và có hướng dẫn xử lý đến với bạn trong thời gian nhanh nhất. </p><p></p></div>
                              <div><h2>V – CAM KẾT BẢO MẬT THÔNG TIN</h2><p>Chúng tôi sẽ cố gắng tối đa hợp lý để bảo vệ
                                 thông tin của bạn
                                 đối với việc truy cập, thu thập, sử dụng hoặc tiết lộ bởi những bên thứ ba không có thẩm quyền,
                                  và đối với việc xử lý bất hợp pháp, 
              sự thất thoát, tiêu hủy hoặc thiệt hại vô hình hoặc những rủi ro tương tự. 
              Tuy nhiên, chúng tôi không thể đảm bảo điều này nếu bạn chủ động cung cấp chúng cho bên thứ ba. 
            </p><p>Trong trường hợp bị sự cố thất thoát do cố tình phá hoại hoặc trong trường hợp được các 
              cơ quan Nhà nước yêu cầu cung cấp thông tin, chúng tôi sẽ ưu tiên xử lý và gửi thông báo đến bạn. </p></div>
              <div><h2>VI – THAY ĐỔI CHÍNH SÁCH BẢO MẬT</h2><p>Để đảm 
                bảo Chính Sách Bảo Mật này phù hợp với sự phát triển của chúng tôi
                 trong tương lai hoặc các thay đổi pháp lý hoặc quản lý, chúng tôi có quyền xem 
                 xét và sửa đổi Chính Sách Bảo Mật này vào từng thời điểm. Mọi sự thay đổi liên quan đến Chính 
                 Sách Bảo Mật này sẽ được chúng tôi ghi rõ trên Ứng dụng và/hoặc Website. 
                 Bạn đồng ý rằng bạn có trách nhiệm thường xuyên kiểm tra xem lại Chính Sách Bảo Mật này để nắm được thông tin 
                 mới nhất liên quan đến việc xử lý dữ liệu và bảo vệ, bảo mật dữ liêu của chúng tôi. </p>
                 <p></p><p>Nếu có bất kỳ thắc mắc nào về Chính Sách Bảo Mật này cần được hỗ trợ, vui lòng liên
                   hệ với chúng tôi qua email: support@sunobook.com.</p></div></div>
     
  </section>

  <!-- end contact section -->
  <!-- info section -->
  <section class="info_section layout_padding-top">
    <div class="info_logo-box">
  
        <img src="/public/css/landing/images/LogoEbookTrong.png" height="50px"  alt="">
        <h2 style="color: #fe7225"> 
          EBoo
        </h2>
    </div>
    <div class="container">
      <div class="social_container">
        <div class="text-center" style="line-height: 5px">
          <p>EBoo@gmail.com</p><br>
          <p>090 191 5121 - 0325 187 911</p>
        </div>
        <div class="social-box">
          <a href="">
            <img src="/public/css/landing/images/fb.png" alt="">
          </a>

          <a href="">
            <img src="/public/css/landing/images/twitter.png" alt="">
          </a>
          <a href="">
            <img src="/public/css/landing/images/linkedin.png" alt="">
          </a>
          <a href="">
            <img src="/public/css/landing/images/instagram.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</body>

</html>