<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="sách nói, podcast, tóm tắt sách, audio" />
  <meta name="description" content="là ứng dụng sách nói và podcast đầy tiện lợi với các tính năng đa dạng.
  Từ những cuốn sách nói mới nhất và những podcast phát hành liên tục từ các nhà xuất bản hàng đầu thế giới, bạn có thể tận hưởng các tựa sách hoàn toàn miễn phí. 
  Bạn có thể tìm thấy sự lựa chọn rộng rãi của bất kỳ thể loại mà bạn muốn đọc và nghe, gồm tất cả những nội dung để giúp bạn phát triển phong cách sống. 
  Ứng dụng cũng cung cấp các bộ lọc tùy chỉnh, giúp bạn để tìm thấy những đặc mục yêu thích của mình. Với MyEBoo, bạn có thể đọc hoặc nghe lên tới 3000+ cuốn sách nói, 
  11000+ podcast và nội dung bài báo khổng lồ.">
  <meta name="author" content="tien.tt" />

  <title>MyEBoo: Thư viện tri thức</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
  <link rel="icon" type="image/png" href="/public/css/landing/images/LogoEbookTrong.png"/>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="/public/css/landing/css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700|Raleway:400,700&display=swap" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="/public/css/landing/css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="/public/css/landing/css/responsive.css" rel="stylesheet" />
</head>

<body>
    <div id="">
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
                    <span>
                    MyEBoo
                    </span>
                </a>
                <div class="navbar-collapse" id="">
                    <div class="custom_menu-btn">
                      <button style="background-color:rgb(137, 137, 137); height: 30px; width: 30px" class="btn_bar" onclick="openNav()">
                        <span class="s-1"> </span>
                        <span class="s-2"> </span>
                        <span class="s-3"> </span>
                      </button>
                    </div>
                    <div id="myNav" class="overlay">
                      <div class="overlay-content">
                        <a href="/">Landing</a>
                        <a href="privacy-policy">Privacy policy</a>
                        <a href="terms-of-services">Terms of services</a>
                      </div>
                    </div>
                  </div>
                </nav>
            </div>
        </header>
        <div class="div_content container">
            <div>
                <h2 class="font-weight-bold">ĐIỀU KHOẢN CHUNG</h2>
                <div class="mt-3 mb-4">
                    <p>1.1. Trước khi sử dụng MyEBoo hoặc tạo tài khoản người dùng (“Tài Khoản”), Người Dùng vui lòng đọc kỹ các Điều Khoản Sử Dụng Dịch Vụ này và Chính Sách Bảo Mật được dẫn chiếu theo đây để hiểu rõ quyền lợi và nghĩa vụ hợp pháp của mình.</p><p>

                        1.2. Để đáp ứng nhu cầu sử dụng Người Dùng, MyEBoo không ngừng hoàn thiện và phát triển, vì vậy các điều khoản quy định tại Điều Khoản Sử Dụng Dịch Vụ này có thể được cập nhật, chỉnh sửa bất cứ lúc nào mà không cần phải thông báo trước tới Người Dùng. Chúng tôi sẽ công bố rõ trên website, ứng dụng về những thay đổi, bổ sung đó.</p><p>
                        
                        1.3. Khi xem xét việc sử dụng dịch vụ của MyEBoo, Người Dùng cam kết rằng Người Dùng hoặc có đủ tuổi theo quy định để xác lập Điều Khoản Sử Dụng Dịch Vụ có tính ràng buộc và không phải là người bị cấm tiếp nhân các dịch vụ theo pháp luật hiện hành đối với địa điểm của Người Dùng hoặc theo phạm vi pháp luật liên quan khác, hoặc Người Dùng đã có sự chấp thuận trước của cha mẹ hoặc người giám hộ hợp pháp của Người Dùng để sử dụng dịch vụ theo quy định và phù hợp với Điều Khoản Sử Dụng Dịch Vụ.</p><p>
                        
                        1.4. Bằng việc tiếp tục sử dụng dịch vụ, Người Dùng đồng ý xác nhận rằng Người Dùng đã đọc, hiểu rõ và chấp thuận Điều Khoản Sử Dụng Dịch Vụ này</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">GIẢI THÍCH TỪ NGỮ</h2>
                <div class="mt-3 mb-4">
                    <p>2.1. “Thông tin cá nhân” là thông tin gắn liền với việc xác định danh tính, nhân thân của cá nhân bao gồm nhưng không giới hạn tên, tuổi, email,... của Người Dùng và một số thông tin gắn liền với nhân nhân Người Dùng.</p><p>

                        2.2. “Người Dùng” là chủ tài khoản, sở hữu, sử dụng hợp pháp tài khoản trên MyEBoo.</p><p>
                        
                        2.3. “Sở hữu trí tuệ” là những sáng chế, cải tiến, thiết kế, quy trình, công thức, phương pháp, cơ sở dữ liệu, thông tin, bản vẽ, mã, chương trình máy tính, tác phẩm, bản ghi âm có bản quyền (hiện tại và tương lai), thiết kế mạch tích hợp bán dẫn, thương hiệu, nhãn hiệu (dù đã đăng ký hay chưa đăng ký) tên thương mại và (thiết kế) bao bì thương phẩm.</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">NỘI DUNG DỊCH VỤ CỦA MyEBoo</h2>
                <div class="mt-3 mb-4">
                    <p>3.1. MyEBoo cung cấp dịch vụ nội dung bao gồm text và audio trong các lĩnh vực kinh doanh, kỹ năng,...</p><p>

                        3.2. MyEBoo cho phép người dùng truy cập những nội dung trên thông qua ứng dụng mobile.</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">CÁCH THỨC SỬ DỤNG DỊCH VỤ MyEBoo</h2>
                <div class="mt-3 mb-4">
                    <p>4.1. Điều kiện giao dịch chung </p><p>

                        - Về vị trí địa lý: Dịch vụ MyEBoo không giới hạn Người Dùng về vị trí địa lý;</p><p>
                        
                        - Về độ tuổi: Dịch vụ MyEBoo áp dụng cho Người Dùng có độ tuổi từ đủ 12 tuổi trở lên.</p><p>

                        4.2. Thông tin về các gói dịch vụ</p><p>

                        Tùy theo nhu cầu và khả năng của mình, Người Dùng có thể lựa chọn sử dụng các gói cước sau:</p><p>
                        
                        STT Tên gói cước Giá gói cước Thời gian sử dụng</p><p>
                        
                        - Gói VIP 1 THÁNG giá 49.000 VNĐ thời gian sử dụng 1 tháng tính từ thời điểm đăng ký</p><p>
                        
                        - Gói VIP 6 THÁNG giá 229.000 VNĐ thời gian sử dụng 6 tháng tính từ thời điểm đăng ký</p><p>
                        
                        - Gói VIP 12 THÁNG giá 399.000 VNĐ  thời gian sử dụng 365 ngày tính từ thời điểm đăng ký</p><p>
                        
                        Các gói cước có thể sẽ được thay đổi tùy từng thời điểm. Chúng tôi có quyền cập nhật và thay đổi các giá gói dịch vụ tùy từng thời điểm. Việc thay đổi mức giá sẽ có hiệu lực vào thời điểm Người Dùng bắt đầu đăng ký sử dụng dịch vụ tiếp theo sau ngày thay đổi mức phí. Khi tiếp tục trải nghiệm dịch vụ và thực hiện giao dịch, Người Dùng đã đồng ý chấp nhận mức giá mới sau khi mức giá này có hiệu lực.</p><p>
                        
                        4.3. Tính năng “Tự động gia hạn”</p><p>

                        - “Tự động gia hạn” là tính năng tự động tái kích hoạt tính phí các gói cước VIP cho Người Dùng khi đến kỳ gia hạn. Bằng việc đồng ý đăng ký tiện ích tự động gia hạn, Người Dùng xác nhận ủy quyền cho MyEBoo hoặc bên thứ ba thực hiện trừ tiền tự động từ tài khoản thể thanh toán mà Người Dùng đã đăng ký mỗi khi gói dịch vụ đến kỳ thanh toán. Chúng tôi không chịu trách nhiệm đối với mọi phát sinh từ việc Người Dùng không tham khảo thông tin trước khi chọn tính năng “Tự động gia hạn”.</p><p>
                        
                        - Trường hợp không muốn tiếp tục sử dụng gói cước, Người Dùng có thể hủy tính năng này. Yêu cầu hủy sẽ có hiệu lực ngay sau ngày cuối cùng của kỳ dịch vụ đăng ký hiện tại.</p><p>
                        
                        4.4. Quy trình đăng ký gói cước và thanh toán</p><p>

                        - Bước 1: Vào ứng dụng MyEBoo, đăng nhập tài khoản;</p><p>
                        
                        - Bước 2: Lựa chọn gói cước dịch vụ;</p><p>
                        
                        - Bước 3: Lựa chọn phương thức thanh toán thông qua các phương thức có sẵn trên App Stores/ Google Play;</p><p>
                        
                        - Bước 4: Xác nhận thông tin thanh toán trước khi thanh toán;</p><p>
                        
                        - Bước 5: Nhận thông báo giao dịch thành công hay thất bại. Trường hợp giao dịch thất bại, thông báo sẽ nói rõ nguyên nhân thất bại.</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">CHÍNH SÁCH GIAO NHẬN, BẢO HÀNH, ĐỔI TRẢ VÀ HOÀN TIỀN</h2>
                <div class="mt-3 mb-4">
                    <p>5.1. Khi hệ thống của MyEBoo nhận được lệnh mua hoặc đăng ký hợp lệ, hệ thống sẽ ngay lập tức ghi nhận gói cước cung cấp nội dung đã lựa chọn về thiết bị Người Dùng, trừ trường hợp lỗi hệ thống hoặc lỗi kết nối Internet, thời gian xử lý giao dịch có thể sẽ kéo dài hơn.</p><p>

                        5.2. MyEBoo không áp dụng chính sách bảo hành, đổi trả đối với các gói cước mà Người Dùng đã đăng ký mua và được chuyển thành công đến thiết bị Người Dùng.</p><p>
                        
                            5.3. Chúng tôi không có trách nhiệm hoàn trả phí dịch vụ sau khi Người Dùng đã thanh toán.</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">TÀI KHOẢN VÀ BẢO MẬT</h2>
                <div class="mt-3 mb-4">
                    <p>6.1. Việc đăng ký tài khoản MyEBoo thể hiện Người Dùng xác nhận đã đọc, hiểu và đồng ý với tất cả các quy định trong Điều Khoản Sử Dụng này. Khi đăng ký tài khoản, Người Dùng cung cấp đầy đủ, chính xác thông tin các thông tin mà MyEBoo yêu cầu và chịu trách nhiệm về tính xác thực của các thông tin mà Khách hàng cung cấp.</p><p>

                        6.2. Sau khi Người Dùng hoàn tất thủ tục đăng ký, Người Dùng có thể thay đổi tên tài khoản, hình đại diện. Tên tài khoản phải tuân theo nội quy đặt tên, hình đại điện theo quy định, không vi phạm những điều cấm của Điều Khoản Sử Dụng Dịch Vụ này.</p><p>
                        
                        6.3. Quy định về đặt tên tài khoản:</p><p>

                        Chúng tôi khuyến khích Người Dùng đặt tên tài khoản theo họ và tên thật của mình. Người Dùng không được đặt tên tài khoản có ý nghĩa không lành mạnh, không trong sáng, mang tính phản cảm, gây hiểu lầm, trái với thuần phong mỹ tục, bao gồm nhưng không giới hạn như:</p><p>
                        
                        a. Đặt tên liên quan đến danh nhân, tên của các vị lãnh đạo, tên của trùm khủng bố, phát xít, tội phạm,...;</p><p>
                        
                        b. Tên tài khoản không được có từ bao gồm nhưng không giới hạn như admin,... nhằm tránh tình trạng mượn danh chúng tôi để lừa đảo Người Dùng khác.</p>
                        <p>6.4. Quy định về hình đại diện (avatar):</p><p>

                            Không sử dụng hình ảnh đồi trụy, rùng rợn mang tính phản cảm, trái với thuần phong mỹ tục dưới mọi hình thức, bao gồm nhưng không giới hạn như:</p><p>
                            
                            a. Hình ảnh của các doanh nhân, lãnh đạo trong và ngoài nước;</p><p>
                            
                            b. Hình ảnh xúc phạm danh dự Nhà nước, tôn giáo,...;</p><p>
                            
                            c. Hình ảnh của tội phạm, khủng bố, phát xít,...;</p><p>
                            
                            d. Hình ảnh với nội dung hạ thấp danh dự hoặc ảnh hưởng tới cá nhân, tổ chức khác.</p>
                        <p>6.5. Một số tính năng của MyEBoo yêu cầu Người Dùng phải đăng ký, đăng nhập để sử dụng. Nếu Người Dùng không đăng ký, đăng nhập thì chỉ sử dụng được các tính năng thông thường. Chúng tôi khuyến khích Người Dùng đăng ký tài khoản để sử dụng đầy đủ các tính năng MyEBoo được tốt nhất.</p>
                        <p>6.6. Thông tin về tài khoản của Người Dùng phải được cung cấp đầy đủ, chính xác và cập nhật nhất. Vui lòng giữ bí mật mật khẩu của Người Dùng, Người Dùng không nên tiết lộ cho bất kì ai thông tin mật khẩu. Người Dùng sẽ phải chịu trách nhiệm cho tất cả việc sử dụng dịch vụ từ tài khoản của Người Dùng. Xin vui lòng thông báo cho chúng tôi nếu Người Dùng nghi ngờ bất kỳ việc sử dụng trái phép tài khoản của Người Dùng. Hãy đảm bảo cập nhật cho chúng tôi thông tin mới nhất trong bản đăng ký của Người Dùng để chúng tôi có thể liên lạc với Người Dùng trong trường hợp cần thiết.

                        </p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">CÁC NỘI DUNG TRAO ĐỔI VÀ CHIA SẺ TRÊN MyEBoo</h2>
                <div class="mt-3 mb-4">
                    <p>Khi sử dụng các dịch vụ của MyEBoo, chúng tôi nghiêm cấm Người Dùng thực hiện một số hành vi bao gồm nhưng không giới hạn sau:</p><p>

                        7.1. Sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống MyEBoo.</p><p>
                        
                        7.2. Đăng nhập trái phép hoặc tìm cách đăng nhập trái phép hoặc gây thiệt hại cho hệ thống máy chủ MyEBoo.</p><p>
                        
                        7.3. Các hành vi bị cấm hoặc hạn chế khác theo quy định của pháp luật có liên quan.</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">CẤM TRUY CẬP</h2>
                <div class="mt-3 mb-4">
                    <p>Chúng tôi có toàn quyền, vào mọi lúc, cấm hoặc từ chối truy cập của Người Dùng vào website, ứng dụng MyEBoo ngay lập tức và không cần báo trước nếu chúng tôi cho rằng Người Dùng đã vi phạm bất cứ điều khoản nào trong Điều Khoản Sử Dụng này, hoặc việc cấm truy cập xuất phát từ nhận định của chúng tôi, khi chúng tôi cho rằng từ chối đó phù hợp và cần thiết trong thẩm quyền của chúng tôi.</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">QUYỀN SỞ HỮU TRÍ TUỆ</h2>
                <div class="mt-3 mb-4">
                    <p>9.1. Chúng tôi có toàn quyền, bao gồm nhưng không giới hạn trong các quyền tác giả, quyền liên quan, thương hiệu, bí mật kinh doanh, nhãn hiệu và các quyền sở hữu trí tuệ khác trong dịch vụ của MyEBoo. Việc sử dụng các quyền của chúng tôi cần phải được chúng tôi cho phép trước bằng văn bản. Chúng tôi không cấp phép dưới bất kỳ hình thức nào khác cho dù đó là hình thức công bố hay hàm ý để Người Dùng thực hiện các quyền trên. Do đó, Người Dùng không có quyền sử dụng bất kỳ sản phẩm của chúng tôi vào mục đích thương mại mà không có sự cho phép bằng văn bản của chúng tôi trước đó.</p><p>

                        9.2. Người dùng đồng ý để chúng tôi sử dụng, tiết lộ, áp dụng và sửa đổi bất kỳ ý tưởng, khái niệm, cách thức, đề xuất, gợi ý, bình luận hoặc hình thức thông báo nào khác mà Người Dùng cung cấp cho chúng tôi thông qua việc sử dụng dịch vụ một cách hoàn toàn miễn phí. Người Dùng từ bỏ và đồng ý từ bỏ bất kỳ quyền và yêu cầu với bất kỳ khoản tiền thưởng, phí, nhuận bút, lệ phí hoặc các kiểu chi trả khác liên quan đến việc chúng tôi sử dụng, tiết lộ, áp dụng, chỉnh sửa bất kỳ hoặc tất cả phản hồi của Người Dùng.</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">QUYỀN VÀ NGHĨA VỤ CỦA NGƯỜI DÙNG</h2>
                <div class="mt-3 mb-4">
                    <p>10.1. Được sử dụng dịch vụ của MyEBoo theo gói cước đã đăng ký. Người Dùng chỉ được sử dụng dịch vụ, không được cung cấp hoặc bán lại cho bất kỳ bên thứ ba nào.</p><p>

                        10.2. Được MyEBoo bảo mật thông tin tài khoản.</p><p>
                        
                        10.3. Yêu cầu Ban quản trị MyEBoo tiến hành các biện pháp xác minh thông tin để giải quyết các tranh chấp trong quá trình khai thác và sử dụng các thông tin, tiện ích tại MyEBoo.</p><p>
                        
                        10.4. Được thông báo khi Ban quản trị MyEBoo cung cấp thông tin khi có yêu cầu của cơ quan nhà nước.</p><p>
                        
                        10.5. Chịu trách nhiệm về nội dung thông tin do mình lưu trữ, cung cấp, truyền đưa trên mạng xã hội, phát tán thông tin qua đường liên kết trực tiếp do mình thiết lập.</p><p>
                        
                        10.6. Bảo mật thông tin tài khoản, nếu những thông tin trên bị tiết lộ dưới bất kỳ hình thức nào thì Người Dùng phải chấp nhận rủi ro phát sinh. MyEBoo sẽ căn cứ vào những thông tin hiện có trong tài khoản để làm căn cứ quyết định chủ sở hữu tài khoản nếu có tranh chấp và chúng tôi sẽ không chịu trách nhiệm về mọi tổn thất phát sinh.</p><p>
                        
                        10.7. Thông báo ngay cho MyEBoo về bất kỳ trường hợp nào sử dụng trái phép tài khoản và mật khẩu của Người Dùng hoặc bất kỳ các hành động phá vỡ hệ thống bảo mật nào. Người Dùng cũng bảo đảm rằng, Người Dùng luôn thoát tài khoản mình sau mỗi lần sử dụng.</p><p>
                        
                        10.8. Người Dùng có thể xử phạt vị phạm hành chính, bị truy tố trách nhiệm hình sự nếu Người Dùng vi phạm về quyền tác giả, quyền liên quan và các quyền sở hữu trí tuệ khác khi Người Dùng sử dụng sản phẩm vi phạm quy định của MyEBoo.</p><p>
                        
                        10.9. Người Dùng phải tuân thủ tuyệt đối các quy định về các hành vi cấm, các nội dung trao đổi cung cấp thông tin được quy định trong Điều Khoản Sử Dụng Dịch Vụ này. Nếu vi phạm một hoặc nhiều hành vi, tùy thuộc vào mức độ vi phạm, MyEBoo sẽ tiến hành chặn tài khoản vĩnh viễn và có thể sẽ yêu cầu cơ quan chức năng truy tố Người Dùng trước pháp luật nếu cần thiết.</p><p></p><p>
                        
                        10.10. Tuân thủ Điều Khoản Sử Dụng Dịch Vụ này và quy định pháp luật có liên quan.</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">THU THẬP THÔNG TIN CÁ NHÂN VÀ CHÍNH SÁCH BẢO VỆ THÔNG TIN CÁ NHÂN CỦA NGƯỜI DÙNG</h2>
                <div class="mt-3 mb-4">
                    <p>11.1. Mục đích và phạm vi thu thập thông tin</p><p> 

                        a. Việc thu thập dữ liệu chủ yếu trên MyEBoo bao gồm nhưng không giới hạn email, tên đăng nhập, mật khẩu đăng nhập. Đây là các thông tin mà MyEBoo cần Người Dùng cung cấp bắt buộc khi đăng ký sử dụng dịch vụ và để MyEBoo liên hệ xác nhận khi Người Dùng gặp vấn đề về kỹ thuật hoặc thanh toán.</p><p> 
                        
                        b. Các Người Dùng sẽ tự chịu trách nhiệm về bảo mật và lưu trữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình. Ngoài ra, Người Dùng có trách nhiệm thông báo kịp thời cho MyEBoo về những hành vi sử dụng trái phép, lạm dụng, vi phạm pháp luật, lưu giữ tên đăng ký và mạt khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.</p><p> 
                        
                        11.2. Phạm vi sử dụng thông tin</p><p> 
                        
                        Chúng tôi sử dụng thông tin Người Dùng cung cấp để:</p><p> 
                        
                        a. Cung cấp cho bạn các dịch vụ xuyên suốt của chúng tôi;</p><p> 
                        
                        b. Tạo mới, quản trị và cập nhật tài khoản của bạn;</p><p> 
                        
                        c. Xác minh danh tính của bạn;</p><p> 
                        
                        d. Gửi các thông báo về các hoạt động trao đổi thông tin liên quan đến dịch vụ;</p><p> 
                        
                        e. Ngăn ngừa các hoạt động phá hủy tài khoản của bạn;</p><p> 
                        
                        f. Liên lạc và giải quyết trong những trường hợp đặc biệt;</p><p> 
                        
                        g. Cho phép đối tác của chúng tôi quản lý và phân bổ nguồn lực;</p><p> 
                        
                        h. Điều tra và giải quyết khiếu nại hoặc tranh chấp hoặc khi được cho phép hoặc yêu cầu theo pháp luật áp dụng;</p><p> 
                        
                        i. Tiếp thị và quảng bá về dịch vụ của chúng tôi;</p><p> 
                        
                        j. Để tạo thông tin thống kê và dữ liệu phân tích ẩn danh cho mục đích thử nghiệm, nghiên cứu, phân tích và phát triển sản phẩm.</p><p> 
                        
                        11.3. Thời gian lưu trữ thông tin</p><p> 
                        
                        Dữ liệu cá nhân của Người Dùng sẽ được lưu trữ đến khi có yêu cầu hủy bỏ hoặc tự Người Dùng đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân Người Dùng sẽ được bảo mật và lưu trữ tối thiểu 02 năm đối với thông tin về tài khoản, thời gian đăng nhập, đăng xuất, địa chỉ IP của Người Dùng và nhật ký xử lý thông tin được đăng tải trên máy chủ của MyEBoo.</p><p> 
                        
                        11.5. Phương thức và công cụ để Người Dùng tiếp cận và chỉnh sửa dữ liệu cá nhân</p><p> 
                        
                        a. Người Dùng có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân hoặc yêu cầu MyEBoo thực hiện việc này.</p><p> 
                        
                        b. Người Dùng có quyền gửi khiếu nại về việc lộ thông tin cá nhân cho bên thứ ba đến Ban quản trị của MyEBoo. Khi tiếp cận những phản hồi này, MyEBoo sẽ xác nhận lại thông tin, phải có trách nhiệm trả lời lý do và hướng dẫn Người Dùng khôi phục và bảo mật lại thông tin.</p><p> 
                        
                        11.6. Chính sách bảo mật thông tin cá nhân</p><p> 
                        
                        a. Thông tin cá nhân của Người Dùng trên MyEBoo được MyEBoo cam kết bảo mật tuyệt dối theo chính sách bảo vệ thông tin cá nhân của MyEBoo. Việc thu thập và sử dụng thông tin của mỗi Người Dùng chỉ được thực hiện khi có sự đồng ý của Người Dùng đó trừ những trường hợp pháp luật có quy định khác.</p><p> 
                        
                        b. Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ ba nào về thông tin cá nhân của Người Dùng khi không có sự cho phép đồng ý từ Người Dùng.
                        
                        c. Trong trường hợp máy chủ lưu giữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân Người Dùng, MyEBoo sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho Người Dùng được biết.</p><p> 
                        
                        d. Bảo mật tuyệt đối mọi thông tin trên mạng xã hội của Người Dùng bao gồm thông tin cá nhân, thời gian đăng nhập, đăng xuất, mật khẩu, địa chỉ IP tại khu vực dữ liệu trung tâm an toàn cấp 1 của MyEBoo.</p><p> 
                        
                        e. Ban quản trị MyEBoo không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của Người Dùng nếu xét thấy tất cả thông tin cá nhân của Người Dùng đó cung cấp khi đăng ký ban đầu là không chính xác.</p>
                </div>
            </div>
            <div>
                <h2 class="font-weight-bold">HIỆU LỰC CỦA ĐIỀU KHOẢN SỬ DỤNG DỊCH VỤ</h2>
                <div class="mt-3 mb-4">
                    <p>12.1. Các điều khoản quy định tại Điều Khoản Sử Dụng Dịch Vụ này được quy định trên website/ứng dụng có thể được cập nhật, chỉnh sửa bất cứ lúc nào mà không cần phải thông báo trước tới Người Dùng. MyEBoo sẽ công bố rõ trên website, ứng dụng về những thay đổi, bổ sung đó.</p><p> 

                        12.2. Trong trường hợp một hoặc một số nội dung của Điều Khoản Sử Dụng Dịch Vụ này xung đột với các quy định của luật pháp Việt Nam, điều khoản đó sẽ được chỉnh sửa cho phù hợp với quy định pháp luật hiện hành, phần còn lại của Điều Khoản Sử Dụng Dịch Vụ vẫn giữ nguyên giá trị.</p><p> 
                        
                        12.3. Người Dùng đồng ý rằng Điều Khoản Sử Dụng Dịch Vụ này và bất kỳ bất đồng nào phát sinh từ việc Người Dùng sử dụng dịch vụ của chúng tôi sẽ được giải quyết theo luật pháp hiện hành của nước Cộng hòa Xã hội Chủ nghĩa Việt Nam. Thông qua việc đăng ký hoặc sử dụng dịch vụ của chúng tôi, Người Dùng mặc nhiên đồng ý và tuân thủ toàn bộ các quy định của Luật Pháp Việt Nam.</p>
                </div>
            </div>
        </div>
        <div class=" mx-auto md:pt-28 p-5" style="background-image: linear-gradient(to bottom right, rgb(255, 196, 0), #fe7225);">
            <div class="d-flex">
                <div class="width-100 text-center ">
                    <h1 class="text-white">Ứng dụng có sẵn trên Google Play và App Store</h1>
                    <p class="text-white">Còn chần chờ gì nữa. Tải xuống trải nghiệm ngay bây giờ nhé bạn ơi!</p>
                    <div class="flex flex-row mt-8">
                        <img alt="" src="/public/css/landing/images/app-store.webp"  width="202" height="60" decoding="async" data-nimg="1" class="mr-2 cursor-pointer" loading="lazy" style="color:transparent"/>
                        <img alt="" src="/public/css/landing/images/google-play.webp"  width="202" height="60" decoding="async" data-nimg="1" class="mr-2 cursor-pointer" loading="lazy" style="color:transparent"/>
                    </div>
                </div>
                <div class="mx-auto col-6  text-center">
                    <img alt="" src="/public/css/landing/images/anh8.png" width="200" height="400" decoding="async" data-nimg="1" loading="lazy" style="color:transparent"/>
                </div>
            </div>
        </div>
        <section class="info_section layout_padding-top">
    <div class="info_logo-box">
  
        <img src="/public/css/landing/images/LogoEbookTrong.png" height="50px"  alt="">
        <h2 style="color: #fe7225"> 
          MyEBoo
        </h2>
    </div>
    <div class="container">
      <div class="social_container">
        <div class="text-center" style="line-height: 5px">
          <p>myeboo@gmail.com</p><br>
          <p>090 191 5121 - 0325 187 911</p>
        </div>
        <div class="social-box">
          <a href="">
            <img src="/public/css/landing/images/fb.png" alt="">
          </a>

          <a href="">
            <img src="/public/css/landing/images/twitter.png" alt="">
          </a>
          <a href="">
            <img src="/public/css/landing/images/linkedin.png" alt="">
          </a>
          <a href="">
            <img src="/public/css/landing/images/instagram.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
    </div>
    <script>
    function openNav() {
      document.getElementById("myNav").classList.toggle("menu_width");
      document
        .querySelector(".custom_menu-btn")
        .classList.toggle("menu_btn-style");
    }
  </script>
</body>

</html>